.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;  /* Reduced the gap between footer elements */
    background: linear-gradient(180deg, #009966, #0059b3);
    padding: 10px 0;  /* Reduced padding to make footer smaller */
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;  /* Reduced gap between logo and text */
}

.footer-logo img {
    width: 80px; /* Adjust the width to make the logo smaller */
    height: auto; /* Maintain aspect ratio */
}


.footer-logo p {
    color: #e0e0e0;
    font-size: 36px;  /* Reduced font size */
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}

.footer-logo p:hover {
    color: #00ffcc;
    transform: scale(1.1);
    text-shadow: 0 4px 10px rgba(0, 255, 204, 0.6), 0 0 15px rgba(0, 89, 179, 0.5);
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 30px;  /* Reduced gap between links */
    color: #e0e0e0;
    font-size: 18px;  /* Reduced font size */
    font-family: 'Orbitron', sans-serif;
}

.footer-links li:hover {
    color: #00ffcc;
    transform: scale(1.1);
    text-shadow: 0 4px 10px rgba(0, 255, 204, 0.6), 0 0 15px rgba(0, 89, 179, 0.5);
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 15px;  /* Reduced gap between social icons */
}

.footers-icon-container {
    padding: 8px;  /* Reduced padding */
    padding-bottom: 4px;  /* Reduced bottom padding */
    background: #f0f0f0;
    border: 1px solid #d0d0d0;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  /* Reduced gap */
    width: 100%;
    margin-bottom: 20px;  /* Reduced bottom margin */
    color: #e0e0e0;
    font-size: 18px;  /* Reduced font size */
    font-family: 'Orbitron', sans-serif;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;  /* Reduced height */
    background: #b0b0b0;
}
